body{
  background: #afafaf;
  color: #2a2a2a;
  font-family: arial;
  margin: 0px;
  padding: 0px;
}
#wrap_main{
  position: relative;
  background: black;
  margin: 0px;
  padding: 10px;
  min-height:92vh;
  padding: 30px 20px 20px 20px;
}
#toolbar{
  position: fixed;
  left:0px;
  top: 0px;
  width:100%;
  background: rgba(200, 200, 200, 0.8);
  padding:10px;
}
#progressbar{
  /*position: fixed;*/
  position: absolute;
  left:0px;
  bottom: 0px;
  height:10px;
  background: rgba(0, 200, 0, 0.8);
  padding:0px;
}
#contents_pwd{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
}
.contents_item {
  user-select: none;
  min-height:50px;
  padding: 10px;
}
