body{
  background: #afafaf;
  color: #2a2a2a;
  margin: 10px;
  padding: 10px;
  font-family: arial;
}
#wrap_main{
  position: relative;
}
#contents_pwd{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    grid-auto-rows: minmax(auto, 100px);
}
.contents_item {
  user-select: none;
  background: #cfcfcf;
  padding: 10px;
}
.contents_item_folder {
  background: #ffaa00;
}